@model IEnumerable<NotificationViewModel>
<li class="nav-item notifications-display">
    <a class="nav-link text-dark" role="button">Известия (<span class="notifications-count">@Model.Where(n => n.IsNew).Count()</span>)</a>
</li>

<div class="notifications-container d-none border">
    <ul>
        @if (Model.Count() > 0)
        {
            foreach (var notification in Model)
            {
                <li>@notification.Message</li>
            }
        }
        else
        {
            <li>Нямате известия</li>
        }
    </ul>
</div>


