@using SchoolSystem.Common
@using SchoolSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello <span class="logged-in-user">@this.User.Identity.Name</span>!</a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Accounts" asp-action="Logout">Изход</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Accounts" asp-action="Register">Регистрация</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Accounts" asp-action="Login">Вход</a></li>
    }
</ul>


