@model HomePageViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>

    @if (this.User.IsInRole(GlobalConstants.Student.StudentRoleName))
    {
        <vc:student-information student-id="@Model.StudentId"></vc:student-information>
    }

    else if (this.User.IsInRole(GlobalConstants.Teacher.TeacherRoleName))
    {
        <vc:teacher-information></vc:teacher-information>
    }

</div>
