@model SubjectsInputModel
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Добавяне на предмет
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавяне на предмет</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Add" class="subject-form">
                <div class="modal-body">

                    <label asp-for="SubjectId"></label>
                    <select class="form-select" asp-for="SubjectId" asp-items="@(new SelectList(Model.Subjects, "Id", "Name")) ">
                        <option selected="selected" value="">Моля избери</option>
                    </select>
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                    <button type="submit" class="submit-btn btn btn-primary">Запамети</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".submit-btn").click(function () {
                $(".subject-form").submit();
            })
        });
    </script>
}